/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-color: green;
} */

#container {
  background: url("../img/berlin.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
  /* border: 1px solid black; */
}

#titoli {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 900;

}
